<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LIFF Connector</title>
</head>
<body>
    <header>
        <div>
            <div>
                <h1>{% block title %}{% endblock %}</h1>
            </div>
            <div>
                <nav>
                    <li>あ</li>
                    <li>い</li>
                    <li>う</li>
                    <li>え</li>
                    <li>お</li>
                </nav>
            </div>
        </div>
    </header>
    {%block content%}
    {% endblock %}
</body>
</html>