{%extends 'base.html' %}
{% block title %}
     Controller
{% endblock %}
{%block content%}
<div class="row">
    <h1>Hello World!</h1>
</div>
<div class="row">
    <h3 style="text-align:center;">距離：<span id="Distance"></span>cm</h3>
</div>
<div class="row">
    <button onclick="TopButton()"></button>
</div>
<div class="row">
    <div class="col">
        <button onclick="LeftButton()"></button>
    </div>
    <div class="col">
        <button onclick="Middlebutton()"></button>
    </div>
    <div class="col">
        <button onclick="RightButton()"></button>
    </div>
</div>
<div class="row">
    <button onclick="BottomButton()"></button>
</div>
{% endblock %}